.twoxyDot {
	position: absolute;
	width: 42px;
	height: 52px;
}

.twoxyDot_left {
	position: absolute;
	width: 42px;
	height: 52px;
	-webkit-transform: rotate(-90deg);
}

.twoxyDot_right {
	position: absolute;
	width: 42px;
	height: 52px;
	-webkit-transform: rotate(90deg);
}

.twoxyDot_down {
	position: absolute;
	width: 42px;
	height: 52px;
	-webkit-transform: rotate(180deg);
}

.highscore {
	color: #00C800;
	clear: both;
	height: 25px;
}

.highscore .label {
	text-align: left;
	float: left;
}

.highscore .score {
	text-align: right;
	float: right;
}

.img_icon {
	position:absolute;
	left:10px;
	top:5px;
	width:32px; 
	height:32px;
	background: url(../icon32x32.png) no-repeat center ;
	padding: 10px 0px 0px 5px;
	float:left;	
}

.list_scene {
	position:relative;
	left:48px;
	top:10px;
	width:32px; 
	height:32px;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}

.img_email {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-email.png) no-repeat bottom;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}

.img_phone {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-phone.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}

.img_web {
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/application-web.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}

.attribution {
	font-size: 15px;
}